// Variables

//Font Variables
$primaryFont: 'Sora', sans-serif;
$secondaryFont:'Roboto', sans-serif;

// Color Variables

$color1:#FFFFFF;
$color2:#FF662A;
$color3:#075BE8;
$color4:#048D8D;
$color5:#1FC6C7;
$color6:#0F1D34;
$color7:#515151;


